@import '../../styles/globals.scss';
.container {
  width: 100%;
  padding: 0px 200px 20px 200px;
  background-color: rgb(0, 0, 0);

  display: flex;
  align-items: flex-start;
  justify-content: center;
  .imageContainer {
    background: linear-gradient($blue, $green);
    width: 550px;
    height: 430px;
    border-radius: 40px;
    backdrop-filter: blur(10px);
    box-shadow: rgba(255, 255, 255, 0.189) 0px 6px 24px 0px,
      rgba(255, 255, 255, 0.319) 0px 0px 0px 1px;
    rotate: -184deg;
    margin-right: 90px;

    transition: all 0.3s;
    background: linear-gradient(-45deg, $green, $green, $orange, $blue, $blue);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

    img {
      position: relative;
      bottom: 40px;
      border-radius: 30px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;
      left: 50px;
      rotate: 184deg;
      transition: all 0.3s;
    }

    &:hover {
      rotate: -180deg;
      box-shadow: rgba(149, 157, 165, 0) 0px 0px 0px;
      background: black;
      border: 0;

      img {
        rotate: 180deg;
        transform: scale(1.04);
        left: 40px;
        bottom: 0px;
      }
    }
  }
  .aboutContainer {
    flex: 1;
    h1 {
      font-weight: bolder;
      font-size: 60px;
    }
    p {
      font-weight: normal;
      font-size: 30px;
    }
  }

  .button {
    margin-top: 20px;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(245, 245, 245, 0.13);
    transition: all 0.3s;
    border: 0;
    font-family: GTWalsheim, sans-serif;

    &:hover {
      background-color: whitesmoke;
      color: rgb(0, 0, 0);
    }
  }
}
