@import '../../../../../styles/globals.scss';

.container {
  flex: 30%;
  // background-color: red;

  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 10px;

  @include mobile {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .pickerItem {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(130, 130, 130);
    padding: 10px 20px;
    cursor: pointer;
    width: 300px;
    background-color: white;
    box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px,
      rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px,
      rgba(42, 51, 70, 0.04) 0px 2px 2px -1px,
      rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
      rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px,
      rgba(42, 51, 70, 0.03) 0px 10px 10px -5px,
      rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;

    border-radius: 20px;

    @include mobile {
      text-align: center;
      margin: 0;
      border-radius: 50px;
    }

    &.active {
      color: white;
      background-color: $blue;
      .pickerTitle {
        font-weight: 900;
      }
    }

    .icon {
      font-size: $fz-lg;
      @include mobile {
        font-size: $fz-md;
      }
    }
    .pickerTitle {
      font-weight: 100;

      margin: 0;
      margin-left: 20px;

      font-size: $fz-sm;

      @include mobile {
        // margin: 0 30px;
        margin: 10px;
        font-size: calc($fz-xs - 2px);
      }
    }
  }
}
