@import '../../styles/globals.scss';
.waveContainer {
  background-color: rgb(29, 29, 29);
}
.container {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  // border-bottom: 1px solid rgb(222, 216, 216);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  overflow: visible;

  .title {
    color: black;
    margin: 0;
    font-size: $fz-xl;
    @include mobile {
      font-size: $fz-lg;
    }
  }
  .subTitle {
    color: black;
    margin: 0;
    padding: 10px 10px;
    text-align: center;
    font-weight: 100;
    font-size: $fz-md;
    @include mobile {
      font-size: $fz-sm;
      padding: 0 20px;
      padding-top: 20px;
    }
  }

  .expertiseContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 60px;
    margin-bottom: 60px;

    @include mobile {
      flex-direction: column;
      padding: 0 30px;
    }
  }
}
