@import '../../styles/globals.scss';
.waveContainer {
  position: relative;
  background-color: black;
  .wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;

    svg {
      position: relative;
      display: block;
      width: calc(179% + 1.3px);
      height: 179px;
      background-color: white;
    }
    .shape-fill {
      fill: #ffffff;
    }
    // z-index: -1;
  }

  //   margin-top: 400px;
}

.container {
  padding-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;

  .title {
    color: black;
    margin: 0;
  }
  .subTitle {
    color: black;
    margin: 0;
    padding: 10px 0px;
    text-align: center;
    font-weight: 100;
  }

  .expertiseContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
