@import '../../styles/globals.scss';
.waveContainer {
  background-color: black;
}
.container {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;

  .title {
    color: black;
    margin: 0;
  }
  .subTitle {
    color: black;
    margin: 0;
    padding: 10px 0px;
    text-align: center;
    font-weight: 100;
    @include mobile {
      padding: 0 60px;
      padding-top: 20px;
    }
  }

  .expertiseContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
    @include mobile {
      flex-direction: column;
      padding: 0 30px;
    }
  }
}
