@import '../../../../styles/globals.scss';

.container {
  flex: 30%;
  // background-color: red;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  @include mobile {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .pickerItem {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(130, 130, 130);
    padding: 30px 0;
    cursor: pointer;

    @include mobile {
      text-align: center;
      margin: 10px 10px 0 10px;
      border-radius: 50px;
    }

    &.active {
      color: $blue;
    }

    .icon {
      font-size: 40px;
      @include mobile {
        display: none;
      }
    }
    .pickerTitle {
      font-weight: 900;

      margin: 0;
      margin-left: 20px;

      font-size: $fz-sm;

      @include mobile {
        margin: 0 30px;
        font-size: $fz-xs;
      }
    }
  }
}
