@import '../../../styles/globals.scss';
.container {
  background-color: rgb(29, 29, 29);
  border-top: 1px solid rgba(255, 255, 255, 0.2);

  padding: 200px 200px 200px 200px;

  @include mobile {
    padding: 90px 25px;
    text-align: center;
  }

  p {
    font-size: $fz-sm;
    @include mobile {
      font-size: $fz-xs;
    }
    font-weight: normal;
    margin: 0;
  }
  h1 {
    font-size: $fz-xl;
    @include mobile {
      font-size: $fz-lg;
    }
    font-weight: bolder;
    margin: 0;
    padding: 20px 0;
  }

  .highlight {
    font-size: $fz-sm;
    position: relative;

    @include mobile {
      font-size: $fz-xs;
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 20px;
      bottom: -10px;
      left: 10px;
      background-color: rgba(255, 255, 255, 0.038);
      @include mobile {
        left: 0;
        background-color: rgba(255, 255, 255, 0);
      }
    }
  }
}
