@import '../../../../styles/globals.scss';
.container {
  margin-bottom: 20px;
  .dropdownContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;

    .dropdown {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: rgb(202, 202, 202) 1px solid;
      color: black;
      border-radius: 70px;
      padding: 5px 20px;
      font-size: 15px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      cursor: pointer;

      @include mobile {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        padding: 15px 20px;
        text-align: center;
        // border-radius: 0px;
        border-radius: 20px;
      }

      &.present-green {
        background-color: $green;
        border: 0;
        color: white;
      }
      &.present-blue {
        background-color: $blue;
        border: 0;
        color: white;
      }
      &.present-orange {
        background-color: $orange;
        border: 0;
        color: white;
      }

      .title {
        span {
          font-weight: 100;
        }

        @include mobile {
          margin: 0;
        }
      }

      .end {
        display: flex;
        align-items: center;
        justify-content: center;
        .timeframe {
          margin-right: 10px;
          @include mobile {
            // margin-top: 10px;
          }

          .arrow {
            padding: 0;
            margin: 0;
            font-size: 20px;
            color: rgb(255, 255, 255);
            margin-left: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.2s ease-in-out;
            transform: rotate(0deg);

            @include mobile {
              margin: 0;
            }

            &.active {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }
  .points {
    // display: none;
    // margin: 0;
    border-left: 10px solid rgb(232, 232, 232);

    padding: 0;
    // margin-bottom: 90px;

    // animation: dropdown 0.2s ease-in-out;
    ul {
      padding: 0;
      margin: 0;
      padding: 0 60px;
    }

    .point {
      font-size: 19px;
      font-weight: lighter;
      color: black;
      margin: 0;
    }

    // @keyframes dropdown {
    //   0% {
    //     opacity: 0;
    //     transform: translateY(-10px);
    //     height: 0px;
    //   }
    //   100% {
    //     opacity: 1;
    //     transform: translateY(0px);
    //   }
    // }
  }
}
