.container {
  .dropdownContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;

    .dropdown {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: rgb(202, 202, 202) 1px solid;
      color: black;
      border-radius: 70px;
      padding: 5px 20px;
      font-size: 15px;
      cursor: pointer;

      .title {
        span {
          color: gray;
        }
      }
      .timeframe {
      }
    }
    .arrow {
      padding: 0;
      margin: 0;
      font-size: 20px;
      color: rgb(0, 0, 0);
      margin-left: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s ease-in-out;
      transform: rotate(0deg);

      &.active {
        transform: rotate(180deg);
      }
    }
  }
  .points {
    display: none;
    margin: 0;
    padding: 0;
    animation: dropdown 0.2s ease-in-out;
    &.active {
      display: block;
      height: 50px;
    }
    .point {
      font-size: 19px;
      font-weight: lighter;
      color: black;
      height: 0;
      transition: all 0.2s ease-in-out;
    }

    @keyframes dropdown {
      0% {
        opacity: 0;
        transform: translateY(-10px);
        height: 0px;
      }
      100% {
        opacity: 1;
        transform: translateY(0px);
      }
    }
  }
}
