@import '../../../../styles/globals.scss';
.container {
  .dropdownContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;

    .dropdown {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: black;
      border-radius: 70px;
      padding: 5px 20px;
      font-size: 17px;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
      cursor: pointer;
      margin-top: 10px;

      @include mobile {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        padding: 15px 20px;
        text-align: center;
        font-size: 15px;

        // border-radius: 0px;
        border-radius: 20px;
      }

      &.present-green {
        background-color: $green;
        border: 0;
        color: white;
        .arrow {
          color: rgb(255, 255, 255) !important;
        }
      }
      &.present-blue {
        background-color: $blue;
        border: 0;
        color: white;
        .arrow {
          color: rgb(255, 255, 255) !important;
        }
      }
      &.present-orange {
        background-color: $orange;
        border: 0;
        color: white;

        .arrow {
          color: rgb(255, 255, 255) !important;
        }
      }

      .title {
        span {
          font-weight: 100;
        }

        @include mobile {
          margin: 0;
        }
      }

      .end {
        display: flex;
        align-items: center;
        justify-content: center;
        .timeframe {
          margin-right: 10px;
          @include mobile {
            // margin-top: 10px;
          }
        }

        .arrow {
          padding: 0;
          margin: 0;
          font-size: 20px;
          color: rgb(0, 0, 0);
          margin-left: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.2s ease-in-out;
          transform: rotate(0deg);

          @include mobile {
            margin: 0;
          }

          &.active {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
  .points {
    border-left: 7px solid rgba(232, 232, 232, 0);

    // margin-bottom: 90px;

    // animation: dropdown 0.2s ease-in-out;

    @include mobile {
      border-left: none;
      border-left: 7px solid rgba(232, 232, 232, 0);
    }
    ul {
      padding: 0;
      margin: 0;
      padding-left: 30px;

      @include mobile {
        padding: 0 20px;
      }
    }
    background-color: rgb(246, 246, 246);

    border-radius: 20px;

    .point {
      font-size: 17px;
      height: auto;
      font-weight: lighter;
      color: rgba(0, 0, 0, 0.88);
      margin: 0;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 20px;
        padding-bottom: 20px;
      }
      &:first-child {
        padding-top: 20px;
      }
    }

    // @keyframes dropdown {
    //   0% {
    //     opacity: 0;
    //     transform: translateY(-10px);
    //     height: 0px;
    //   }
    //   100% {
    //     opacity: 1;
    //     transform: translateY(0px);
    //   }
    // }
  }
}
