@import '../../../styles/globals.scss';
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  background-attachment: fixed;
  background-size: cover;

  @include mobile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
    padding: 20px;
  }

  @include desktop {
    background-image: none !important;
  }

  &:nth-child(even) {
    flex-direction: row-reverse;
    @include mobile {
      flex-direction: column;
    }
    .description {
      left: -80px;
      @include mobile {
        left: 0;
      }
    }
    .technologies {
      flex-direction: row-reverse;
    }
    .links {
      flex-direction: row-reverse;
    }
    .titleContainer {
      // margin-left: 30px;
      text-align: right;
      @include mobile {
        margin-left: 0;
      }
    }
  }

  .infoContainer {
    flex: 0.5;
    width: 100%;

    .titleContainer {
      p {
        font-weight: bold;
        margin: 0;
        font-size: 20px;
        color: white;
        font-weight: 100;
      }
      h1 {
        margin: 0;
        font-size: 30px;
      }

      @include mobile {
        margin-bottom: 30px;
        text-align: left;
        width: 100%;
        p {
          font-size: 17px;
        }
        h1 {
          font-size: 25px;
        }
      }
    }

    position: relative;

    .descriptionContainer {
      .description {
        position: relative;
        width: 120%;
        z-index: 2;

        font-size: 20px;
        border: rgba(245, 245, 245, 0.113) 1px solid;
        background-color: rgba(0, 0, 0, 0.752);
        backdrop-filter: blur(10px);

        padding: 20px;
        margin: 20px 0;
        border-radius: 30px;
        color: white;
        font-weight: lighter;

        @include mobile {
          margin: 0;
          width: 100%;
          height: auto;
          border: none;
          border-radius: 0px;
          margin-bottom: 20px;
          padding: 50px 20px;
          background-color: rgba(0, 0, 0, 0.13);
        }
      }

      .technologies {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .technology {
          margin-right: 10px;
          font-size: 15px;
          background-color: rgba(55, 55, 55, 0.506);
          padding: 10px 20px;
          border-radius: 30px;
        }
      }

      .links {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        a {
          font-size: 25px;
          margin-right: 20px;
        }
      }
    }
  }

  .imageContainer {
    flex: 0.5;
    position: relative;
    @include mobile {
      width: 100%;
      height: 100%;
      display: none;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 98%;
      background-color: darken($green, 40%);
      opacity: 0.7;
      z-index: 1;
      transition: all 0.2s ease-in-out;
      @include mobile {
        // background-color: rgba(0, 128, 0, 0);
      }
    }
    &:hover {
      &::after {
        opacity: 0;
      }
    }

    img {
      width: 100%;
      height: 350px;
      object-fit: cover;
      @include mobile {
        border-radius: 20px;
        border-radius: 0px;
        object-fit: contain;

        position: relative;
      }
    }
  }
}
