@import '../../styles//globals.scss';
.container {
  height: 95vh;
  width: 100vw;
  padding: 90px 120px 20px 120px;

  @include mobile {
    padding: 0;
  }

  background: linear-gradient(0deg, rgb(0, 0, 0), #000000c8, #00000003);
  // backdrop-filter: blur(10px);
  .textContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 90px;
    padding-bottom: 130px;

    .name {
      font-size: clamp(40px, 10vw, 65px);
      margin: 0;
      padding: 0;

      color: #fff;
    }
    .subText {
      font-size: clamp(20px, 6vw, 60px);
      margin: 0;
      padding: 0;
    }
  }
}
