@import '../../../styles/globals.scss';
.container {
  background-color: rgb(29, 29, 29);
  padding: 200px 200px 20px 200px;
  display: flex;
  flex-direction: column;
  gap: 50px;

  .featuredText {
    margin: 0;
    padding: 0;
    font-size: $fz-xl;
    @include mobile {
      font-size: $fz-lg;
      padding: 20px;
    }
    margin-bottom: 20px;
  }

  @include mobile {
    .video {
      min-height: 300px;
      padding: 40px;
      justify-content: flex-end;
      .textContainer {
        width: 100%;
      }
    }
    gap: 20px;
    padding: 200px 20px 20px 20px;
  }
}
