@import '../../../styles/globals.scss';
.container {
  background-color: rgb(29, 29, 29);
  padding: 40px 150px 20px 150px;
  display: flex;
  flex-direction: column;
  gap: 50px;

  .featuredText {
    margin: 0;
    padding: 0;
    font-size: $fz-xl;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    gap: 20px;

    hr {
      width: 100%;
      border-color: rgba(255, 255, 255, 0.559);
    }
    @include mobile {
      font-size: $fz-lg;
      padding: 20px;
      flex-direction: column;
      text-align: center;
    }
  }

  @include mobile {
    .video {
      min-height: 300px;
      padding: 40px;
      justify-content: flex-end;
      .textContainer {
        width: 100%;
      }
    }
    gap: 20px;
    padding: 20px 20px 20px 20px;
  }
}
