.container {
  border: 2px rgb(49, 49, 49) solid;
  padding: 20px;
  border-radius: 20px;
  margin: 20px;

  cursor: pointer;

  .topContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    .icon {
      font-size: 35px;
    }
  }

  .infoContainer {
    .title {
      margin: 0;
      font-size: 30px;
      font-weight: bold;
      color: rgb(255, 255, 255);
    }
    .description {
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 15px;
      font-weight: lighter;
      color: rgb(204, 204, 204);
    }
  }
}
