@import '../../../styles/globals.scss';
.container {
  border: 2px rgb(49, 49, 49) solid;
  padding: 20px;
  border-radius: 20px;
  margin: 20px;

  cursor: pointer;

  .topContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    .icon {
      font-size: $fz-md;
      @include mobile {
        font-size: $fz-sm;
      }
    }
  }

  .infoContainer {
    .title {
      margin: 0;

      font-weight: bold;
      color: rgb(255, 255, 255);

      font-size: $fz-sm;

      @include mobile {
        font-size: $fz-xs;
      }
    }
    .description {
      margin-top: 20px;
      margin-bottom: 20px;
      font-weight: lighter;
      color: rgb(204, 204, 204);
      font-size: $fz-xs;
      @include mobile {
        font-size: $fz-xxs;
      }
    }
  }
}
