.container {
  background-color: white;
  padding-top: 100px;
  .title {
    color: black;
    margin: 0;
    text-align: center;
  }
  .subTitle {
    color: black;
    margin: 0;
    padding: 10px 0px;
    text-align: center;
    font-weight: 100;
  }

  .experienceContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 200px;
    padding-top: 50px;
    .experience {
      width: 100%;

      h1 {
        text-align: left;
        font-size: 30px;
        color: black;
      }
    }
  }
}

.waveContainer {
  background-color: rgba(0, 0, 0, 0.909);
  backdrop-filter: blur(10px);
}
