@import '../../styles//globals.scss';
.container {
  background-color: white;
  padding-top: 100px;
  overflow-y: visible;

  .title {
    color: black;
    margin: 0;
    text-align: center;
    font-size: $fz-xl;
    @include mobile {
      font-size: $fz-lg;
    }
  }
  .subTitle {
    color: black;
    margin: 0;
    padding: 10px 0px;
    text-align: center;
    font-weight: 100;
    font-size: $fz-md;
    @include mobile {
      font-size: $fz-sm;
      padding: 0 20px;
      padding-top: 20px;
    }
  }

  .experienceContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 200px;
    padding-top: 50px;

    @include mobile {
      padding: 90px 20px;
    }
    .experience {
      width: 100%;

      h1 {
        text-align: left;
        color: black;

        font-size: $fz-md;
        @include mobile {
          font-size: $fz-sm;
          text-align: center;
        }
      }
    }
  }
}

.waveContainer {
  background-color: rgba(18, 18, 18, 0.968);

  backdrop-filter: blur(10px);
}
