@import '../../../../styles/globals.scss';
.container {
  height: 100%;
  width: 100%;
  padding: 50px;
  border-radius: 10px;
  background-color: black;

  position: relative;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
  overflow: hidden;

  @include tablet {
    padding: 25px;
  }
  @include mobile {
    justify-content: flex-end;
    padding-bottom: 50px;
  }

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.414) 0px 54px 55px;
    scale: 1.01;
    .textContainer {
      scale: 1.01;
    }
  }

  &:active {
    scale: 0.99;
  }

  .textContainer {
    cursor: pointer;

    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    gap: 10px;
    min-height: 300px;
    max-width: 1300px;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

    padding: 30px;
    padding-left: 0;
    border-radius: 10px;
    width: 90%;

    @include tablet {
      width: 100%;
      max-width: 100%;
      transform: scale(0.94);
    }

    @include mobile {
      width: 100%;
      min-height: 0px;
      padding: 0;
      padding-top: 90px;
    }

    .videoTitle {
      font-size: $fz-md;
      @include mobile {
        font-size: $fz-md;
      }
    }
    .videoDescription {
      font-size: $fz-xs;
      font-family: GTWalsheimLight;
      width: 80%;

      @include mobile {
        font-size: $fz-xxs;
        width: 100%;
      }
    }
  }

  .subInfoContainer {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    width: 100%;

    @include mobile {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
    @include tablet {
      transform: scale(0.94);
    }

    .subInfo {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      gap: 10px;
    }
    p {
      font-size: $fz-sm;
      @include mobile {
        font-size: $fz-xxs;
      }
    }
    .icon {
      font-size: 20px;
      @include mobile {
        font-size: 15px;
      }
    }
  }

  .imageContainer {
    position: absolute;
    top: -110px;
    right: -300px;
    transform: scale(0.86);

    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    @include tablet {
      right: -400px;
      transform: scale(0.82);
    }

    @include mobile {
      right: 00px;
      top: -50px;
      transform: scale(1);
      img {
        width: 100%;
      }
    }
    &::before {
      content: '';
      position: absolute;
      border-radius: 10px;

      top: 0;
      left: -3px;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.989) 1%,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0)
      );
      z-index: 1;

      @include mobile {
        background: linear-gradient(
          to top,
          rgba(0, 0, 0, 0.989) 1%,
          rgba(0, 0, 0, 0) 90%,
          rgba(0, 0, 0, 0)
        );
        left: 0;
      }
    }
  }
}
