.container {
  padding: 90px 120px 20px 120px;
  background: linear-gradient(rgba(0, 30, 72, 0.347), rgb(0, 0, 0)),
    url('../../public/images/background-image.jpeg');

  height: 100vh;
  width: 100vw;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
