@font-face {
  font-family: GTWalsheim;
  src: url('fonts/GTWalsheimPro-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: GTWalsheim;
  src: url('fonts/GT-Walsheim-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: GTWalsheim, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: white;

  background: url('../public/img/background-image2.jpeg');

  height: 100vh;
  width: 100vw;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  overflow-x: hidden;

  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.make-dark {
  transition: all 0.5s ease-in-out;
}
.make-dark .subel {
  transition: all 0.5s ease-in-out;
}
.dark {
  color: rgb(47, 47, 47) !important;
}
.dark .subel {
  background-color: rgb(0, 0, 0) !important;
}

.animate {
  animation: slideIn 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
