$blue: #72a5e5;
$green: #7fc3ae;
$orange: #f2a365;
$red: #d16363;

.blue {
  color: $blue Im !important;
  background: linear-gradient(315deg, $blue, darken($blue, 30%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.green {
  color: $green;
  background: linear-gradient(315deg, $green, darken($green, 20%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.orange {
  color: $orange;
  background: linear-gradient(315deg, $orange, rgb(131, 95, 28));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

$width: 990px;

@mixin mobile {
  @media (max-width:#{$width}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width:#{$width}) {
    @content;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.white-wrapper {
  background-color: black;
  padding: 20px 0;

  .white-container {
    background-color: white;
    border-radius: 900px;
    height: 1000px;
  }
}
