@font-face {
  font-family: GTWalsheim;
  src: url('fonts/GTWalsheimPro-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: GTWalsheim;
  src: url('fonts/GT-Walsheim-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: GTWalsheim, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: white;

  background: url('../public/images/background-image2.jpeg');

  height: 100vh;
  width: 100vw;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
